* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: #641944;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}

#logo {
    min-width: 250px;
    max-width: 30%;
    height: auto;
    display: block;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 20px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    nav ul {
        display: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    font-size: large;
}

ul {
    display: flex;
    gap: 1rem;
}